<main class="main">
  <div class="inner">
    <div class="form-wrapper">
      <h1 class="page-heading">ライヴ会場キャッシュレス対応情報</h1><br />
      <% if user_signed_in? %>
        <div class="greeting">
        こんにちは、
        <%= link_to "#{current_user.user_name}さん", '#' , class: :greeting__link %>
        </div>
      <% end %>
    </div>
    <%= form_with(url: search_venues_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "会場を検索する", class: "search-input" %>
      <%= form.select :prefecture_id, Prefecture.all.map { |pref| [pref.name, pref.id] }, { include_blank: "都道府県" }, class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
      <p>会場名または都道府県から検索が出来ます</p>
    <% end %>
    <div class="contents row">
      <% @venues.each do |venue| %>
        <%= render partial: "venue", locals: { venue: venue } %>
      <% end %>
    </div>
  </div>
</main>

<%= breadcrumbs %>