<main class="main">
  <div class="inner">
    <div class="detail__wrapper">
      <p class="detail__hedding">
        <%= @venue.place_name %>
      </p>
      <div class="detail__prefecture"><%= @venue.prefecture.name %></div>
      <%= link_to "by #{@venue.user.user_name}", '#' , class: :detail__user %>
      <% if current_user == @venue.user %>
        <div class="detail__manage">
          <%= link_to "編集", edit_venue_path(@venue), class: :edit__btn %>
        </div>
      <% end %>
      <div class="detail__comments">
        <% if @comments.any? %>
          <ul class="comments_lists">
            <% @comments.order(created_at: :desc).each do |comment| %>
              <li class="comments_list">
                <% if comment.cashless.present? %>
                  <div class="detail__cashless"><%= comment.cashless.name %></div>
                <% end %>
                <% if comment.text.present? %>
                  <div class="detail__cashless__comment"><%= comment.text %></div>
                <% end %>
                <% if comment.user.present? %>
                  <div class="detail__at"><%= comment.created_at.strftime('%Y-%m-%d %H:%M:%S') %></div>
                  <div class="detail__user">by: <%= link_to comment.user.user_name, '#' , class: :comment_user %></div>
                <% end %>
                <% if current_user == comment.user %>
                  <%= link_to "削除", venue_comment_path(@venue, comment), data: { turbo_method: :delete }, class: :delete__btn %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with model: [@venue, @comment || @venue.comments.build], url: venue_comments_path(@venue), local: true do |f| %>
            <div class="detail__field">
              <%= f.label :cashless_id, "支払い方法" %><br />
              <%= f.collection_select(:cashless_id, Cashless.all, :id, :name, {}, {class:"select-box", id:"item-prefecture"}) %><br />
              <%= f.label :text, "コメント" %><br />
              <%= f.text_area :text, id: "comment_content", rows: 5, cols: 20 %><br />
            </div>
            <div class="actions">
              <%= f.submit "送信", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</main>
<% breadcrumb :venues %>